$color-map: (
  site-primary-color: rgb(0, 2, 1),
  site-secondary-color: rgb(1, 202, 51),
  site-tertiary-color: rgb(3, 20, 0),
  site-quaternary-color: #232528,
  site-quinary-color: #f7ae81,
  site-info-color: #009ffd,
  site-alert-color: #f7ae81,
  site-success-color: #5cb85c,
  site-warning-color: #ffa400,
  site-base-white-color: #fcfdff
);
